@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

body {
    background-image: url(../../assets/background/background-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.hero {
    @include flex-box(8rem, column);
}

.main-headings {
    text-align: center;
}

.socials_right-bottom {
    padding: $outer-content-padding-block $outer-content-padding-inline;
    position: fixed;
    right: 0;
    bottom: 0;
}