@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

body {
    background-image: url(../../assets/background/background-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.hero {
    @include flex-box(8rem, column);
}

.main-headings {
    text-align: center;
}

.contact-card {
    color: $heading-color-1;
    display: flex;
    width: 40rem;
    height: 17rem;

    img {
        width: 11rem;
        height: 11rem;
        margin: auto;
    }

    p {
        display: none;
    }

    &:hover {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 9rem;
        row-gap: 7rem;

        .contact-card__text {
            grid-column: 1 / span 2;
            justify-self: end;
            align-self: flex-end;
        }

        img {
            width: 7.3rem;
            height: 7.6rem;
        }

        p {
            display: block;
        }

    }

    .contact-card__signature {
        @include flex-box(0, column, center, flex-end);
    }
}


.socials_right-bottom {
    padding: $outer-content-padding-block $outer-content-padding-inline;
    position: fixed;
    right: 0;
    bottom: 0;
}