@use '../../styles/abstracts/colors' as *;
@use '../../styles/abstracts/mixins' as *;

.projects {
	display: flex;
	flex-direction: column;
	gap: 96px;
}

.project {
	display: flex;
	align-items: center;

	&.reversed {
		flex-direction: row-reverse;
	}

	@include breakpoint('md', max) {
		flex-direction: column-reverse;
		gap: 24px;
	}
}

.content {
	max-width: 483px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 32px;
	z-index: 10;

	@include breakpoint('md', max) {
		align-items: center;
	}

	@include breakpoint('sm', max) {
		gap: 24px;
	}
}

.title {
	body[data-theme='developer'] &,
	body[data-theme='cybersec'] & {
		text-transform: uppercase;
	}

	@include breakpoint('md', max) {
		text-align: center;
	}
}

.stack {
	display: flex;
	flex-direction: column;
	gap: 16px;

	@include breakpoint('md', max) {
		align-items: center;
	}

	@include breakpoint('md', max) {
		gap: 12px;
	}
}

.tech {
	font-size: 24px;
	font-weight: 700;
	color: $primary-100;

	body[data-theme='cybersec'] & {
		color: var(--color-secondary);
	}

	@include breakpoint('sm', max) {
		font-size: 20px;
	}
}

.btns {
	display: flex;
	gap: 16px;

	@include breakpoint('sm', max) {
		gap: 12px;
	}
}

.image {
	width: 597px;
	height: 463px;
	border-radius: 4px;
	background-color: $primary-300;
	margin-left: -40px;

	&.reversed {
		margin-left: 0;
		margin-right: -40px;
	}

	@include hover-focus {
		& ~ .cursor {
			scale: 1;
			opacity: 1;
		}
	}

	@include breakpoint('md', max) {
		width: 484px;
		margin-inline: 0;
	}

	@include breakpoint('sm', max) {
		width: 343px;
		height: 343px;
	}
}

.cursor {
	height: 140px;
	aspect-ratio: 1;
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
	background-color: var(--color-secondary);
	position: fixed;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	pointer-events: none;
	scale: 0;
	opacity: 0;
	transition: scale 0.2s ease-in-out, opacity 0.8s ease-in-out;
}
