@use '../abstracts/variables' as *;

body {
    font-family: $body-font-family;
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    line-height: $body-line-height;
    color: $body-text-color;
    background-color: $body-background-color;
}

.text-accent {
    font-size: $text-accent-font-size;
    font-weight: $body-font-weight;
}

// a {
//     color: $link-color;
// }

// a:is(:hover, :focus) {
//     color: $link-color-hover;
// }