@use '../abstracts/variables' as *;

body {
    font-family: $body-font-family;
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    line-height: $body-line-height;
    color: $body-text-color;
    background-color: $body-background-color;
}

.text-hero {
    font-size: $text-hero-font-size;
    font-weight: $body-font-weight;
}

.text-accent {
    font-size: $text-accent-font-size;
    color: $text-accent-color;
}

a {
    // color: $link-color;
    text-decoration: $link-text-decoration;
}

// a:is(:hover, :focus) {
//     color: $link-color-hover;
// }