@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;
@use '../base/typography' as *;
@use '../base/general' as *;

.contact {
	padding-block: calc((100dvh - 46rem) / 2);

	@include breakpoint('md', max) {
		padding-block: $section-padding-md;
	}

	@include breakpoint('sm', max) {
		padding-block: $section-padding-sm;
	}
}

.contact__heading {
	margin-bottom: 4rem;
}

.contact__content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact__card {
	margin-top: 5rem;
}

.card {
	width: 48rem;
	height: 28rem;
	background-color: $teal;
	padding: 2rem;

	.card__content {
		height: 100%;
		width: 100%;
		display: grid;
		grid-template-columns: auto;
		border: 2px solid $gold;
		padding: 3.5rem 4rem;
		text-decoration: none;
		color: $gold;
	}

	.card__email {
		grid-column-start: 2;
		align-self: flex-end;
		justify-self: flex-end;
	}

	@include breakpoint('sm', max) {
		height: 18rem;
		width: 28rem;
		padding: 1.4rem;
		
		.card__content {
			grid-template-columns: 0 auto;
			padding: 2rem 0;
		}

		.card__logo {
			width: 0;
		}

		.card__email {
			justify-self: center;
		}
	}
}

.signature {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	white-space: nowrap;

	.signature__name {
		font-family: $cursive;
		font-size: 4.8rem;
		line-height: normal;
	}

	@include breakpoint('sm', max) {
		align-items: center;

		.signature__name {
			font-size: 3.4rem;
		}
	}
}
