@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;
@use '../base/general' as *;

.footer {
	display: flex;
	justify-content: center;
}

.footer__socials {
	flex-direction: column;
	position: fixed;
	right: $wrapper-inline-lg;
	bottom: $wrapper-block-lg;
	
	.icon {
		color: $teal-light;
	}
	
	@include breakpoint('md', max) {
		right: $wrapper-inline-md;
		bottom: $wrapper-block-md;
	}

	@include breakpoint('sm', max) {
		transform: scale(0);
		position: absolute;
	}
}

.socials {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;

	.socials__icon {
		text-decoration: none;

		.icon {
			font-size: 3rem;
		}
	}
}

.copyright {
	width: min(82rem, calc(100dvw - (calc((100dvw - 1000px) / 2))));
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-block: 2.7rem;
	margin-inline: auto;
	border-top: .5px solid $white;

	.copyright__text {
		font-size: 1.4rem;
		text-align: center;
	}

	@include breakpoint('md', max) {
		max-width: calc(80dvw - 50px);
		padding-block: 2rem;

		.copyright__text {
			font-size: 12px;
		}
	}
}
