@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;
@use '../base/general' as *;

.footer {
	position: fixed;
	right: $wrapper-inline-lg;
	bottom: $wrapper-block-lg;

	@include breakpoint('md', max) {
		right: $wrapper-inline-md;
		bottom: $wrapper-block-md;
	}

	@include breakpoint('sm', max) {
		right: $wrapper-inline-sm;
		bottom: $wrapper-block-sm;
	}
}

.footer__socials {
	flex-direction: column;

	.icon {
		color: $teal-light;
	}

	@include breakpoint('sm', max) {
		transform: scale(0);
		position: absolute;
	}
}

.socials {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;

	.socials__icon {
		text-decoration: none;

		.icon {
			font-size: 3rem;
		}
	}
}
