@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;
@use '../base/general' as *;

.header {
	position: fixed;
	top: $wrapper-block-lg;

	&.header--left {
		left: $wrapper-inline-lg;
	}

	&.header--right {
		right: $wrapper-inline-lg;
	}

	@include breakpoint('md', max) {
		top: $wrapper-block-md;

		&.header--left {
			left: $wrapper-inline-md;
		}

		&.header--right {
			right: $wrapper-inline-md;
		}
	}

	@include breakpoint('sm', max) {
		top: $wrapper-block-sm;

		&.header--left {
			left: $wrapper-inline-sm;
		}

		&.header--right {
			right: $wrapper-inline-sm;
		}
	}
}

.header__logo {
	height: 5rem;
	width: 5rem;
}

.nav__list {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 1.8rem;

	.nav__item {
		font-size: 1.8rem;

		a {
			text-decoration: none;
			color: $white;
			line-height: normal;
		}

		@include hover-focus {
			box-shadow: 0 -2px 0 $gold inset;
		}
	}
}
