@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;
@use '../base/general' as *;

.header {
	position: fixed;
	top: $wrapper-block-lg;

	&.header--left {
		left: $wrapper-inline-lg;
	}

	&.header--right {
		right: $wrapper-inline-lg;
	}

	&.header--md {
		width: 100%;
		background-color: $teal;
		display: flex;
		justify-content: space-between;
		padding-block: $wrapper-block-md;
		padding-inline: $wrapper-inline-md;
		top: 0;
		transform: scale(0);
		position: absolute;
	}

	.icon {
		font-size: 5rem;
		color: $white;
	}

	@include breakpoint('md', max) {
		top: $wrapper-block-md;
	}

	@include breakpoint('sm', max) {
		&.header--left {
			transform: scale(0);
			position: absolute;
		}

		&.header--right {
			transform: scale(0);
			position: absolute;
		}

		&.header--md {
			transform: scale(1);
			position: fixed;
		}

		.icon {
			font-size: 4rem;
		}
	}
}

.header__logo {
	width: 5rem;

	@include breakpoint('sm', max) {
		width: 4rem;
	}
}

.header__hamburger {
	background-color: transparent;
	border: none;

	&.hide {
		transform: scale(0);
		position: absolute;
	}
}

.nav--md {
	height: 100dvh;
	position: absolute;
	background-color: $teal-light;
	top: 9rem;
	inset-inline: 0;

	&.hide {
		transform: scale(0);
		position: absolute;
	}

	@include breakpoint('sm', max) {
		top: 8rem;
	}
}

.nav__list {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 1.8rem;

	&.nav__list--md {
		align-items: center;
		gap: 4rem;
		padding-block: 10rem;
	}

	.nav__item {
		font-size: 1.8rem;

		a {
			text-decoration: none;
			color: $white;
			line-height: normal;
		}

		@include hover-focus {
			box-shadow: 0 -2px 0 $gold inset;
		}
	}
}

.nav__socials {
	flex-direction: row;

	.icon {
		color: $white;
	}
}
