@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;
@use '../base/general' as *;
@use '../base/typography' as *;

.hero__content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.banner {
	max-width: 90rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 8rem;

	.banner__subheading {
		font-size: 2.8rem;
		text-align: center;

		strong {
			font-family: $serif;
			font-size: 3.6rem;
			font-weight: 400;
			color: $teal-lighter;
		}
	}

	@include breakpoint('md', max) {
		margin-bottom: 5rem;

		.banner__subheading {
			font-size: 2rem;

			strong {
				font-size: 3rem;
			}
		}
	}

	@include breakpoint('sm', max) {
		.banner__subheading {
			font-size: 1.6rem;
		}
	}
}

.banner__slider {
	width: 93rem;
}

.hero__btns {
	display: flex;
	gap: 2rem;
}
