@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;
@use '../base/general' as *;

.hero {
	padding-block: calc((100dvh - 55.5rem) / 2);

	@include breakpoint('md', max) {
		padding-block: 20rem $section-padding-md;
	}

	@include breakpoint('sm', max) {
		padding-block: 10rem $section-padding-sm;
	}
}

.hero__content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.banner {
	max-width: 90rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 8rem;

	.banner__subheading {
		font-size: 2.8rem;
		text-align: center;

		@include breakpoint('md', max) {
			font-size: 2rem;
		}

		@include breakpoint('sm', max) {
			font-size: 1.6rem;
		}
	}

	@include breakpoint('md', max) {
		margin-bottom: 5rem;
	}

	@include breakpoint('sm', max) {
		max-width: 35rem;
		margin-bottom: 3rem;
	}
}

.hero__btns {
	display: flex;
	gap: 2rem;
}
