@use '../abstracts/mixins' as *;
@import '../abstracts/colors';

.main {
	background-image: url('../assets/svg/background-logo.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;

	@include breakpoint('lg', min) {
		height: 100vh;
		scroll-snap-type: y proximity;
		overflow-y: scroll;
		scroll-behavior: smooth;

		.section {
			scroll-snap-align: center;
		}

		&::-webkit-scrollbar {
			width: 10px;
		}

		&::-webkit-scrollbar-thumb {
			background: $gold-light;
			border-radius: 5px;
		}

		&::-webkit-scrollbar-thumb:hover {
			background: $gold;
		}
	}

	@include breakpoint('md', max) {
		background-size: 80%;
	}
}
