@use '../abstracts/mixins' as *;

.main {
	background-image: url('../assets/svg/background-logo.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;

	@include breakpoint('lg', min) {
		height: 100vh;
		scroll-snap-type: y proximity;
		overflow-y: scroll;
		scroll-behavior: smooth;

		.section {
			scroll-snap-align: center;

		}
	}

	@include breakpoint('md', max) {
		background-size: 80%;
	}
}
