@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;
@use '../base/general' as *;

.scroller {
	height: 100%;
	list-style-type: none;
	position: fixed;
	left: $wrapper-inline-lg;
	inset-block: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 8.5rem;
	padding-top: 10rem;

	@include breakpoint('md', max) {
		display: none;
		position: absolute;
	}
}

.scroller__item {
	font-size: 18px;

	a {
		color: $teal-light;
		text-decoration: none;

		@include hover-focus {
			color: $white;
		}

	}
}

.scroller__indicator {
	width: 3px;
	height: 30px;
	background-color: $gold;
	position: absolute;
	left: 35px;
}