@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Corinthia&family=Montserrat:wght@400;700&display=swap");
body {
  font-family: "Montserrat", Helvetica, Verdana, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #F6F6F6;
  background-color: #004041;
}

.text-accent {
  font-size: 2.8rem;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture {
  max-width: 100%;
  display: block;
}

svg {
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.btn {
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  font-family: "Montserrat", Helvetica, Verdana, sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
  padding: 2rem 3rem;
  transition: 275ms ease;
}
.btn[data-type=primary] {
  color: #004041;
  background-color: #CC9900;
  border: 0.3rem solid #CC9900;
  border-radius: 1rem;
}
.btn[data-type=primary]:is(:hover, :focus) {
  color: #046068;
  background-color: #E5B906;
  border-color: #E5B906;
}
.btn[data-type=primary]:active {
  color: #037F80;
  background-color: #FFCB74;
  border-color: #FFCB74;
}
.btn[data-type=secondary] {
  color: #CC9900;
  background-color: transparent;
  border: 0.3rem solid #CC9900;
  border-radius: 1rem;
}
.btn[data-type=secondary]:is(:hover, :focus) {
  color: #E5B906;
  border-color: #E5B906;
}
.btn[data-type=secondary]:active {
  color: #FFCB74;
  border-color: #FFCB74;
}
.btn[data-type=tertiary] {
  color: #CC9900;
  background-color: transparent;
}
.btn[data-type=tertiary]:is(:hover, :focus) {
  color: #E5B906;
}
.btn[data-type=tertiary]:active {
  color: #FFCB74;
}

.btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.nav_vertical {
  list-style: none;
  font-family: "Montserrat", Helvetica, Verdana, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.nav_vertical .nav__item {
  color: #F6F6F6;
  text-decoration: none;
  border-bottom: 0.3rem solid transparent;
  padding: 0 0.8rem;
}
.nav_vertical .nav__item:is(:hover, :focus) {
  border-bottom-color: #CC9900;
}

.heading {
  line-height: 1.1;
  text-transform: uppercase;
}

.heading_primary {
  font-family: "Cinzel", Georgia, "Times New Roman", serif;
  color: #CC9900;
  font-weight: 400;
}

.heading_secondary {
  font-family: "Montserrat", Helvetica, Verdana, sans-serif;
  color: #90DBD6;
  font-weight: 700;
}

.heading-1 {
  font-size: 15rem;
}

.heading-2 {
  font-size: 3.6rem;
}

.heading-3 {
  font-size: 2.4rem;
}

.heading-4 {
  font-size: 2rem;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.image-with-text-module {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.image-with-text-module > * {
  flex: 1 1 0;
}
.image-with-text-module .text-module {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.image-with-text-module_vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.signature {
  font-family: "Corinthia", cursive;
  font-size: 4.8rem;
  color: #F6F6F6;
  text-transform: capitalize;
}

.signature_accent {
  color: #CC9900;
}

.card {
  background-color: #046068;
  border-radius: 0.2rem;
  box-shadow: 0px 30px 45px 0px rgba(22, 22, 22, 0.1);
  padding: 2rem;
}

.card__inner-border {
  background-color: transparent;
  border-radius: 0.2rem;
  border: 0.2rem solid #CC9900;
  padding: 4rem;
}

.contact-card {
  color: #CC9900;
  width: 48rem;
  height: 20rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  -moz-column-gap: 9rem;
       column-gap: 9rem;
  row-gap: 7rem;
}
.contact-card .contact-card__text {
  grid-column: 1/span 2;
  justify-self: end;
  align-self: flex-end;
}
.contact-card:hover {
  display: flex;
  gap: 0;
}
.contact-card:hover img {
  width: 11rem;
  height: 11rem;
  margin: auto;
}
.contact-card:hover p {
  display: none;
}

.contact-card__signature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 0;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: transparent;
  width: 100vw;
  padding: clamp(1rem, 4vw, 5rem) clamp(1rem, 5vw, 12rem);
  margin: 0;
}

.section-container {
  max-width: 93rem;
  margin: clamp(8rem, 10vw, 24rem) auto;
  display: flex;
  flex-direction: column;
  gap: clamp(2rem, 20vw, 36rem);
}/*# sourceMappingURL=main.css.map */