@use '../../styles/abstracts/mixins' as *;

.hero {
	height: 100dvh;
	max-width: 970px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 64px;
	margin-inline: auto;
	gap: 96px;

	@include breakpoint('md', max) {
		max-width: 740px;
	}

	@include breakpoint('sm', max) {
		max-width: 343px;
		gap: 64px;
	}
}

.banner {
	display: flex;
	flex-direction: column;

	.background {
		text-align: center;
		position: relative;
		top: 0;
		margin-block: -40px;
		z-index: -20;
	}

	body[data-theme='designer'] & .background {
		top: 0;
		margin-block: -48px;
	}

	@include breakpoint('md', max) {
		.background {
			margin-block: -32px;
		}

		body[data-theme='designer'] & .background {
			margin-block: -40px;
		}
	}

	@include breakpoint('sm', max) {
		.background {
			margin-block: -14px;
		}

		body[data-theme='designer'] & .background {
			margin-block: -20px;
		}
	}
}

.heading {
	font-family: var(--font-primary);
	font-size: 64px;
	line-height: 100%;
	font-weight: 900;
	margin-bottom: 16px;

	body[data-theme='designer'] & {
		color: var(--color-secondary);
		text-transform: uppercase;
		margin-bottom: -4px;
	}

	@include breakpoint('md', max) {
		font-size: 48px;
		margin-bottom: 0;
	}

	@include breakpoint('sm', max) {
		font-size: 24px;
	}
}

.btn {
	width: fit-content;
	display: flex;
	gap: 32px;
	margin-inline: auto;
}
