@use '../../styles/abstracts/typography' as *;
@use '../../styles/abstracts/colors' as *;
@use '../../styles/abstracts/mixins' as *;

.hero {
	height: 100dvh;
	max-width: 970px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-inline: auto;
	gap: 48px;

	@include breakpoint('md', max) {
		max-width: 740px;
	}

	@include breakpoint('sm', max) {
		max-width: 343px;
		gap: 32px;
	}
}

.banner {
	pointer-events: none;
}

.subheading {
	@include serif-regular;
	font-size: 36px;
	color: $teal-lighter;
	display: flex;
	justify-content: center;

	@include breakpoint('md', max) {
		font-size: 32px;
	}

	@include breakpoint('sm', max) {
		font-size: 24px;
	}
}

.headline {
	@include sans-fancy;
	font-size: 28px;

	@include breakpoint('md', max) {
		font-size: 24px;
	}

	@include breakpoint('sm', max) {
		font-size: 16px;
	}
}

.btn {
	width: fit-content;
	display: flex;
	gap: 32px;
	margin-inline: auto;
}
