@use '../../styles/abstracts/mixins' as *;
@use '../../styles/abstracts/typography' as *;
@use '../../styles/abstracts/colors' as *;

.experiences {
	display: flex;
	flex-direction: column;
	gap: 64px;
}

.card {
	display: flex;
	flex-direction: column;
	gap: 32px;

	.heading {
		@include font-designer;
		font-size: 32px;
		font-weight: 700;
	}

	.decoration {
		width: 155px;
		height: 2px;
		background-color: $transparent-white-800;
	}

	@include breakpoint('sm', max) {
		align-items: center;

		.heading {
			font-size: 24px;
		}
	}
}

.experience {
	display: grid;
	grid-template-columns: 1fr 5fr;

	@include breakpoint('sm', max) {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
}

.date {
	@include font-designer;
	font-size: 16px;
	color: $gold-light;

	display: flex;
	flex-direction: column;

	.end {
		font-size: 24px;
		font-weight: 700;
	}

	@include breakpoint('sm', max) {
		flex-direction: row;
		align-items: center;
		gap: 8px;

		.end {
			font-size: 20px;
		}
	}
}

.content {
	display: flex;
	flex-direction: column;
	gap: 4px;

	.title {
		font-size: 24px;
		font-weight: 700;
		color: $gold;
	}

	.description {
		color: $gold-light;
	}

	@include breakpoint('sm', max) {
		.title {
			font-size: 20px;
		}
	}
}
