@use '../../styles/abstracts/mixins' as *;

.experiences {
	display: flex;
	flex-direction: column;
	gap: 64px;
}

.card {
	display: flex;
	flex-direction: column;
	gap: 32px;

	@include breakpoint('sm', max) {
		align-items: center;
	}
}

.heading {
	font-family: var(--font-primary);
	font-size: 32px;
	font-weight: 700;
	font-variant: var(--font-variant);

	body[data-theme='developer'] & {
		color: var(--color-secondary);
	}

	@include breakpoint('sm', max) {
		font-size: 24px;
	}
}

.decoration {
	width: 155px;
	height: 2px;
	background-color: var(--color-primary-light);

	body[data-theme='developer'] & {
		background-color: var(--color-secondary-light);
	}
}

.experience {
	display: grid;
	grid-template-columns: 1fr 3fr;

	body[data-theme='designer'] & {
		grid-template-columns: 1fr 5fr;
	}

	@include breakpoint('sm', max) {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
}

.date {
	font-family: var(--font-primary);
	color: var(--color-secondary-light);

	body[data-theme='designer'] & {
		font-size: 16px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	body[data-theme='developer'] & {
		color: var(--color-primary-light);
	}

	.end {
		font-size: 24px;
		font-weight: 700;
	}

	@include breakpoint('sm', max) {
		body[data-theme='designer'] & {
			flex-direction: row;
			align-items: center;
			gap: 8px;
		}

		.end {
			font-size: 20px;
		}
	}
}

.content {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.title {
	font-size: 24px;
	font-weight: 700;
	color: var(--color-secondary);

	body[data-theme='developer'] & {
		color: var(--color-primary);
	}

	a {
		@include hover-focus {
			box-shadow: 0 -1px inset;
		}
	}

	@include breakpoint('sm', max) {
		font-size: 20px;
	}
}

.description {
	color: var(--color-secondary-light);

	body[data-theme='developer'] & {
		color: var(--color-primary-light);
	}
}
