$gold-lightest: #fde4c3;
$gold-lighter: #ffcb74;
$gold-light: #e5b906;
$gold: #c90;

$teal-lighter: #90dbd6;
$teal-light: #037f80;
$teal: #046068;
$teal-dark: #004041;

$white: #f6f6f6;
$grey: #333;
$black: #1c1c1c;
