$secondary-100: #fde4c3;
$secondary-200: #c90;

$primary-100: #86d4ce;
$primary-200: #037f80;
$primary-300: #046068;
$primary-400: #004041;

$white: #f6f6f6;
$grey: #333;
$black: #1c1c1c;

$transparent-white-300: rgba($white, 0.3);
$transparent-white-800: rgba($white, 0.8);

$transparent-black-100: rgba($black, 0.1);
$transparent-black-250: rgba($black, 0.25);
$transparent-black-700: rgba($black, 0.7);

$transparent-primary-200: rgba($primary-100, 0.2);
$transparent-primary-800: rgba($primary-100, 0.8);
