@use './colors' as *;
@use './mixins' as *;

@mixin serif-regular {
	font-family: 'Cinzel', serif;
	font-optical-sizing: auto;
}

@mixin serif-fancy {
	font-family: 'Cinzel Decorative', serif;
}

@mixin sans-regular {
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
}

@mixin sans-fancy {
	font-family: 'Montserrat Alternates', sans-serif;
}

.heading {
	@include serif-fancy;

	&.heading--primary {
		font-size: 150px;
		font-weight: 400;
		color: $gold;
		line-height: 112%;
	}

	&.heading--secondary {
		font-size: 36px;
		font-weight: 700;
	}

	@include breakpoint('md', max) {
		&.heading--primary {
			font-size: 96px;
		}
	}

	@include breakpoint("sm", max) {
		&.heading--primary {
			font-size: 54px;
			line-height: normal;
		}
	}
}

.background {
	@include serif-regular;
	font-size: 320px;
	line-height: 112%;
	font-weight: 900;
	text-transform: uppercase;
	color: rgba($black, 0.2);
	text-align: center;
	position: absolute;
	inset-inline: 0;
	top: -48px;
	z-index: -10;


	@include breakpoint("md", max) {
		font-size: 240px;
		top: -16px
	}

	@include breakpoint("sm", max) {
		font-size: 120px;
		top: 0;
	}
}

