@use './colors' as *;
@use './mixins' as *;

@mixin serif-regular {
	font-family: 'Cinzel', serif;
	font-optical-sizing: auto;
}

@mixin serif-fancy {
	font-family: 'Cinzel Decorative', serif;
}

@mixin sans-regular {
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
}

@mixin sans-fancy {
	font-family: 'Montserrat Alternates', sans-serif;
}

.heading {
	@include serif-fancy;

	&.heading--primary {
		font-size: 150px;
		font-weight: 400;
		text-transform: uppercase;
		color: $gold;
		line-height: 112%;
	}

	&.heading--secondary {
		font-size: 36px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
	}

	&.heading--tertiary {
		@include sans-fancy;
		font-size: 20px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		color: $teal-lighter;
	}

	@include breakpoint('md', max) {
		&.heading--primary {
			font-size: 96px;
		}

		&.heading--secondary {
			font-size: 32px;
		}
	}

	@include breakpoint('sm', max) {
		&.heading--primary {
			font-size: 54px;
			line-height: normal;
		}

		&.heading--secondary {
			font-size: 24px;
		}

		&.heading--tertiary {
			font-size: 16px;
		}
	}
}

.title {
	@include serif-regular;
	text-transform: uppercase;

	&.title--primary {
		font-size: 40px;
		font-weight: 700;
	}

	&.title--secondary {
		font-size: 24px;
		font-weight: 700;
		color: $gold;
	}

	&.title--tertiary {
		@include sans-regular;
		font-size: 20px;
		font-weight: 500;
	}

	@include breakpoint('md', max) {
		&.title--primary {
			font-size: 36px;
		}
	}

	@include breakpoint('sm', max) {
		&.title--primary {
			font-size: 24px;
			display: inline-block;
			width: 100%;
			text-align: center;
		}

		&.title--secondary {
			font-size: 20px;
		}

		&.title--tertiary {
			font-size: 16px;
		}
	}
}

.background {
	@include serif-regular;
	font-size: 320px;
	line-height: 112%;
	font-weight: 900;
	text-transform: uppercase;
	color: rgba($black, 0.2);
	position: absolute;
	top: -48px;
	z-index: -10;

	@include breakpoint('md', max) {
		font-size: 240px;
		top: -16px;
	}

	@include breakpoint('sm', max) {
		font-size: 120px;
		top: 0;
	}
}
