@use '../../styles/abstracts/colors' as *;
@use '../../styles/abstracts/mixins' as *;

.btn {
	--_color: var(--color, $neutral-100);

	font-weight: 500;
	text-decoration: none;
	color: var(--_color);
	display: flex;
	position: relative;
	padding: 12px 24px;
	box-shadow: 0 -2px inset;
	cursor: pointer;

	.border {
		background-color: var(--_color);
		position: absolute;
	}

	&.btn--gold {
		--color: #{$gold-200};
	}

	&.btn--teal {
		--color: #{$teal-100};
	}

	&.btn--white {
		--color: #{$neutral-100};
	}

	.border--right {
		width: 2px;
		height: 0;
		right: 0;
		bottom: 0;
		transition: height 0.1s 0.2s ease-in;
	}

	.border--top {
		width: 0;
		height: 2px;
		right: 0;
		top: 0;
		transition: width 0.1s 0.1s ease-in;
	}

	.border--left {
		width: 2px;
		height: 0;
		left: 0;
		top: 0;
		transition: height 0.1s ease-in;
	}

	@include hover-focus {
		.border--right {
			height: 100%;
			transition-delay: 0;
		}

		.border--top {
			width: 100%;
		}

		.border--left {
			height: 100%;
			transition-delay: 0.2s;
		}
	}

	@include breakpoint('md', max) {
		box-shadow: 0 0 0 2px inset;
	}

	@include breakpoint('sm', max) {
		padding: 8px 16px;
	}
}
