@use '../../styles/abstracts/colors' as *;
@use '../../styles/abstracts/mixins' as *;

.btn {
	font-weight: 500;
	text-decoration: none;
	width: fit-content;
	display: flex;
	padding: 12px 16px;
	box-shadow: 0 -2px 0 inset;
	cursor: pointer;

	&.btn--gold {
		color: $secondary-200;
	}

	&.btn--teal {
		color: $primary-100;
	}

	&.btn--white {
		color: $white;
	}

	@include hover-focus {
		box-shadow: 0 0 0 2px inset;
	}

	@include breakpoint('md', max) {
		box-shadow: 0 0 0 2px inset;
	}
}
