@use '../../styles/abstracts/typography' as *;
@use '../../styles/abstracts/colors' as *;
@use '../../styles/abstracts/mixins' as *;

.btn {
	@include sans-fancy;
	font-size: 24px;
	font-weight: 500;
	text-decoration: none;
	width: fit-content;
	padding: 12px 16px;
	box-shadow: 0 -2px 0 inset;
	cursor: pointer;

	&.btn--primary {
		color: $gold;
	}

	&.btn--secondary {
		color: $teal-lighter;
	}

	@include hover-focus {
		box-shadow: 0 0 0 2px inset;
	}
}
