@font-face {
	font-family: 'Cinzel';
	src: url('../assets/fonts/Cinzel-Regular.woff2') format('woff2'),
		 url('../assets/fonts/Cinzel-Regular.woff') format('woff'),
		 url('../assets/fonts/Cinzel-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Corinthia';
	src: url('../assets/fonts/Corinthia-Regular.woff2') format('woff2'),
		 url('../assets/fonts/Corinthia-Regular.woff') format('woff'),
		 url('../assets/fonts/Corinthia-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../assets/fonts/Montserrat-Bold.woff2') format('woff2'),
		 url('../assets/fonts/Montserrat-Bold.woff') format('woff'),
		 url('../assets/fonts/Montserrat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../assets/fonts/Montserrat-Regular.woff2') format('woff2'),
		 url('../assets/fonts/Montserrat-Regular.woff') format('woff'),
		 url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
