@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;

$wrapper-block-lg: 50px;
$wrapper-block-md: 20px;

$wrapper-inline-lg: max(25px, calc((100dvw - 1000px - 20rem) / 2));
$wrapper-inline-md: 25px;

body {
	color: $white;
	background-color: $teal-dark;
	overflow-x: hidden;
}

.link {
	color: $gold;

	@include hover-focus {
		color: $teal-lighter;
	}
}

.wrapper {
	width: 100%;

	@include breakpoint('lg', min) {
		max-width: 1000px;
		margin-inline: auto;
	}

	@include breakpoint('md') {
		padding-inline: $wrapper-inline-md;
	}

	@include breakpoint('sm', max) {
		max-width: 335px;
		margin-inline: max(20px, calc((100dvw - 335px) / 2));
	}
}

.section {
	@include breakpoint('lg', min) {
		&.section--hero {
			padding-block: calc((100dvh - 51rem) / 2);
		}
		
		&.section--work {
			padding-block: calc((100dvh - 45.1rem) / 2);
		}
		
		&.section--about {
			padding-block: calc((100dvh - 57.5rem) / 2);
		}
		
		&.section--contact {
			padding-block: calc((100dvh - 46rem) / 2);
		}
	}

	@include breakpoint('md', max) {
		padding-block: 10rem;

		&.section--hero {
			padding-top: 20rem;
		}
	}
}
