@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;

$wrapper-block-lg: 50px;
$wrapper-block-md: 20px;
$wrapper-block-sm: 10px;

$wrapper-inline-lg: max(25px, calc((100dvw - 1000px - 20rem) / 2));
$wrapper-inline-md: 25px;
$wrapper-inline-sm: 20px;

$section-padding-md: 15rem;
$section-padding-sm: 5rem;

body {
	color: $white;
	background-color: $teal-dark;
}

.link {
	color: $gold;

	@include hover-focus {
		color: $teal-lighter;
	}
}

.wrapper {
	max-width: 1000px;
	width: 100%;
	margin-inline: auto;

	@include breakpoint('md', max) {
		margin-inline: $wrapper-inline-md;
	}

	@include breakpoint('sm', max) {
		margin-inline: $wrapper-inline-sm;
	}
}
