@font-face {
	font-family: "iconfont";
	src: url("../assets/fonts/iconfont.eot?8d46037c215124a4a4e540fa90a087db?#iefix") format("embedded-opentype"),
url("../assets/fonts/iconfont.woff2?8d46037c215124a4a4e540fa90a087db") format("woff2"),
url("../assets/fonts/iconfont.woff?8d46037c215124a4a4e540fa90a087db") format("woff");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: iconfont !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-dot:before {
	content: "\f101";
}
.icon-email:before {
	content: "\f102";
}
.icon-github:before {
	content: "\f103";
}
.icon-hamburger-menu:before {
	content: "\f104";
}
.icon-linkedin:before {
	content: "\f105";
}
