@font-face {
	font-family: "iconfont";
	src: url("../assets/fonts/iconfont.eot?368fed0d3b7087b7408e32b6739017c2?#iefix") format("embedded-opentype"),
url("../assets/fonts/iconfont.woff2?368fed0d3b7087b7408e32b6739017c2") format("woff2"),
url("../assets/fonts/iconfont.woff?368fed0d3b7087b7408e32b6739017c2") format("woff");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: iconfont !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-close:before {
	content: "\f101";
}
.icon-dot:before {
	content: "\f102";
}
.icon-email:before {
	content: "\f103";
}
.icon-github:before {
	content: "\f104";
}
.icon-hamburger-menu:before {
	content: "\f105";
}
.icon-linkedin:before {
	content: "\f106";
}
