@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;

$sans-serif: 'Montserrat', Helvetica, Verdana, sans-serif;
$serif: 'Cinzel', Georgia, 'Times New Roman', serif;
$cursive: 'Corinthia', cursive;

body {
	font-family: $sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.5;

	@include breakpoint('sm', max) {
		font-size: 1.4rem;
	}
}

.heading {
	line-height: 1.1;

	&.heading--primary {
		font-family: $serif;
		font-weight: 400;
		color: $gold;
	}

	&.heading--secondary {
		color: $teal-lighter;
	}
}

h1,
.h1 {
	font-size: 13rem;
	text-align: center;

	@include breakpoint('md', max) {
		font-size: 10rem;
	}

	@include breakpoint('sm', max) {
		font-size: 5.5rem;
	}
}

h2,
.h2 {
	font-size: 2.4rem;
	margin-bottom: 4rem;

	@include breakpoint('md', max) {
		text-align: center;
	}

	@include breakpoint('sm', max) {
		font-size: 2rem;
	}
}

h3,
.h3 {
	font-size: 3.6rem;

	@include breakpoint('sm', max) {
		font-size: 3rem;
	}
}

.btn {
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 1;

	@include breakpoint('sm', max) {
		font-size: 1.5rem;
	}
}