@use '../abstracts/colors' as *;
@use '../abstracts/typography' as *;

body[data-theme='designer'] {
	--font-primary: #{$font-designer};
	--font-secondary: #{$font-regular};

	--color-background: #{$primary-400};

	--color-primary: #{$white};
	--color-primary-light: #{$transparent-white-800};
	--color-primary-transparent: #{$transparent-white-300};

	--color-secondary: #{$secondary-200};
	--color-secondary-light: #{$secondary-100};
}

body[data-theme='developer'] {
	--font-primary: #{$font-regular};
	--font-secondary: #{$font-developer};
	--font-variant: small-caps;

	--color-background: #{$primary-200};

	--color-primary: #{$white};
	--color-primary-light: #{$transparent-white-800};
	--color-primary-transparent: #{$transparent-white-300};

	--color-secondary: #{$primary-100};
	--color-secondary-light: #{$transparent-primary-800};
}

body[data-theme='cybersec'] {
	--font-primary: #{$font-regular};
	--font-secondary: #{$font-developer};
	--font-variant: small-caps;

	--color-background: #{$black};

	--color-primary: #{$primary-100};
	--color-primary-light: #{$transparent-primary-800};
	--color-primary-transparent: #{$transparent-primary-200};

	--color-secondary: #{$white};
	--color-secondary-light: #{$transparent-white-800};
}
