@use '../abstracts/colors' as *;
@use '../abstracts/typography' as *;

body[data-theme='designer'] {
	--font-default: #{$font-regular};
	--font-secondary: #{$font-designer};
	--font-background: #{$font-regular};

	--background-color: #{$primary-400};
	--color-primary: #{$white};
	--color-secondary: #{$secondary-200};
	--color-light: #{$secondary-100};
}

body[data-theme='developer'] {
	--font-default: #{$font-regular};
	--font-secondary: #{$font-regular};
	--font-background: #{$font-developer};

	--background-color: #{$primary-200};
	--color-primary: #{$white};
	--color-secondary: #{$primary-100};
	--color-light: #{$transparent-white-800};
	--color-transparent: #{$transparent-white-300};
}

body[data-theme='cybersec'] {
	--font-default: #{$font-regular};
	--font-secondary: #{$font-regular};
	--font-background: #{$font-developer};

	--background-color: #{$black};
	--color-primary: #{$primary-100};
	--color-secondary: #{$white};
	--color-light: #{$transparent-primary-800};
	--color-transparent: #{$transparent-primary-200};
}
