@use '../../styles/abstracts/mixins' as *;
@use '../../styles/abstracts/colors' as *;
@use '../../styles/abstracts/typography' as *;

.content {
	display: flex;
	flex-direction: column;

	@include breakpoint('md', max) {
		align-items: center;
	}
}

.title {
	@include font-designer;
	font-size: 32px;
	font-weight: 700;

	@include breakpoint('sm', max) {
		font-size: 24px;
	}
}

.subtitle {
	color: rgba($white, 0.8);
}
