@use '../../styles/abstracts/mixins' as *;
@use '../../styles/abstracts/colors' as *;
@use '../../styles/abstracts/typography' as *;

.content {
	display: flex;
	flex-direction: column;
}

.title {
	font-family: $font-designer;
	font-size: 32px;
	font-weight: 700;

	@include breakpoint('sm', max) {
		font-size: 24px;
	}
}

.subtitle {
	color: $transparent-white-800;
}
