@use '../../styles/abstracts/mixins' as *;
@use '../../styles/abstracts/typography' as *;

.skills {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding-block: 48px;
	margin-top: 240px;
	scroll-margin-top: 78px;

	@include breakpoint('sm', max) {
		gap: 16px;
		padding-block: 24px;
		margin-top: 160px;
	}
}

.group {
	display: flex;
	gap: 20px;

	@include breakpoint('md', max) {
		gap: 12px;
	}

	@include breakpoint('sm', max) {
		gap: 8px;
	}
}

.skill {
	font-family: var(--font-secondary);
	font-size: 32px;
	font-weight: 700;
	font-variant: var(--font-variant);

	@include breakpoint('md', max) {
		font-size: 24px;
	}

	@include breakpoint('sm', max) {
		font-size: 20px;
	}
}
