@use '../../styles/abstracts/typography' as *;
@use '../../styles/abstracts/mixins' as *;

.skill {
	@include serif-regular;
	font-size: 32px;
	font-weight: 700;

	@include breakpoint("md", max) {
		font-size: 24px;
	}

	@include breakpoint("sm", max) {
		font-size: 20px;
	}
}
