@use '../../styles/abstracts/mixins' as *;

.logo {
	display: block;
	width: fit-content;
}

.logo img {
	height: 50px;

	@include breakpoint('md', max) {
		height: 37px;
	}

	@include breakpoint('sm', max) {
		height: 30px;
	}
}
