@use '../../styles/abstracts/_mixins.scss' as *;

.logo {
	display: block;
	width: fit-content;

	img {
		height: 50px;
	}

	@include breakpoint('md', max) {
		img {
			height: 37px;
		}
	}

	@include breakpoint('sm', max) {
		img {
			height: 30px;
		}
	}
}
