@use '../../styles/abstracts/mixins' as *;

.logo {
	display: block;
	width: fit-content;
	transition: scale 0.2s, rotate 0.2s;

	@include hover-focus {
		scale: 1.1;
		rotate: 12deg;
	}
}

.logo img {
	height: 50px;

	@include breakpoint('md', max) {
		height: 37px;
	}

	@include breakpoint('sm', max) {
		height: 30px;
	}
}
