@use '../abstracts/variables' as *;

.header {
    display: flex;
    flex-direction: row;
    align-items: $header-alignment;
    justify-content: $header-jusitifcation;
    position: fixed;
    top: $header-top;
    background-color: $header-background-color;
    width: $header-width;
    padding: $header-padding-block $header-padding-inline;
    margin: $header-margin;
}