@use "colors" as *;
@use "typography" as *;

$color-text-default: map-get($colors, neutral, '100');
$color-background-default: map-get($colors, secondary, '400');
// $color-text-interactive-default: $color-accent-400;
// $color-text-interactive-hover: $color-accent-500;

$border-radius-1: .2rem;
$border-radius-2: 1rem;
$border-width-1: .3rem; 
$border-width-2: .2rem;

$box-shadow-1: 0px 30px 45px 0px rgba(22, 22, 22, 0.10);

// body
$body-font-family: $sans-serif;
$body-font-size: map-get($font-sizes, '200');
$body-font-weight: map-get($font-weights, regular);
$body-line-height: 1.5;
$body-text-color: $color-text-default;
$body-background-color: map-get($colors, secondary, '400');

$text-accent-font-size: map-get($font-sizes, '600');

// $link-color: $color-text-interactive-default;
// $link-color-hover: $color-text-interactive-hover;
$link-text-decoration: none;

// headings
$heading-font-family-1: $serif;
$heading-font-family-2: $sans-serif;
$heading-color-1: map-get($colors, primary, '400');
$heading-color-2: map-get($colors, secondary, '100');
$heading-font-weight-1: map-get($font-weights, regular);
$heading-font-weight-2: map-get($font-weights, bold);
$heading-line-height: 1.1;
$heading-text-transform: uppercase;

$heading-1-font-size: map-get($font-sizes, '900');
$heading-2-font-size: map-get($font-sizes, '700');
$heading-3-font-size: map-get($font-sizes, '500');
$heading-4-font-size: map-get($font-sizes, '400');

// signature
$signature-font-family: $cursive;
$signature-font-size: map-get($font-sizes, '800');
$signature-color-default: $body-text-color;
$signature-color-2: $heading-color-1;
$signature-text-transform: capitalize;

// layout
$btn-gap: 2rem;

$grid-gap: 2rem;
$grid-column-width: 8.5rem;

$section-max-width: 93rem;
$section-margin-block: clamp(8rem, 10vw, 24rem);
$section-gap: clamp(2rem, 20vw, 36rem); 

// fixed header and socials
$outer-content-padding-block: clamp(1rem, 4vw, 5rem);
$outer-content-padding-inline: clamp(1rem, 5vw, 12rem);
$outer-content-padding: $outer-content-padding-block $outer-content-padding-inline;

// site header
$header-background-color: transparent;
$header-top: 0;
$header-width: 100vw;
$header-padding-block: $outer-content-padding-block;
$header-padding-inline: $outer-content-padding-inline;
$header-margin: 0;
$header-jusitifcation-small-screens: center;
$header-jusitifcation-large-screens: space-between;
$header-alignment: flex-start;

//navigation
$navigation-font-family: $body-font-family;
$navigation-font-size: map-get($font-sizes, '300');
$navigation-font-weight: $body-font-weight;
$navigation-text-transform: uppercase;
$navigation-color: $body-text-color;
$navigation-border: $border-width-1 solid transparent;
$navigation-border-color-hover: map-get($colors, primary, '400');
$navigation-padding: 0 .8rem;
$navigation-gap: 1.8rem;
$navigation-link-text-decoration: none;

// // site footer
// $footer-background-color: $color-primary-300;
// $footer-text-color: $color-primary-900;
// $footer-link-color: $color-neutral-100;
// $footer-link-color-hover: $color-primary-200;
// $footer-link-font-family: $font-family-accent;
// $footer-link-text-decoration: none;

// buttons
$button-font-family: $body-font-family;
$button-font-size: map-get($font-sizes, '300');
$button-font-weight: map-get($font-weights, bold);
$button-text-transform: uppercase;
// $button-clip-path: polygon(8% 0, 92% 0, 100% 50%, 92% 100%, 8% 100%, 0% 50%);
// $button-width: 20rem;
$button-padding: 2rem 3rem;
$button-border: $border-width-1 solid map-get($colors, primary, '400');
$button-border-color-hover: map-get($colors, primary, '300');
$button-border-color-active: map-get($colors, primary, '200');
$button-border-radius: $border-radius-2;

$button-primary-color: map-get($colors, secondary, '400');
$button-primary-color-hover: map-get($colors, secondary, '300');
$button-primary-color-active: map-get($colors, secondary, '200');
$button-primary-background: map-get($colors, primary, '400');
$button-primary-background-hover: map-get($colors, primary, '300');
$button-primary-background-active: map-get($colors, primary, '200');

$button-secondary-color: map-get($colors, primary, '400');
$button-secondary-color-hover: map-get($colors, primary, '300');
$button-secondary-color-active: map-get($colors, primary, '200');
$button-secondary-background: transparent;

$button-tertiary-color: map-get($colors, primary, '400');
$button-tertiary-color-hover: map-get($colors, primary, '300');
$button-tertiary-color-active: map-get($colors, primary, '200');
$button-tertiary-background: transparent;

// modules
$text-module-gap-1: 2rem;
$text-module-gap-2: 5rem;

// cards
$card-background-default: map-get($colors, secondary, '300');
$card-font-family: $body-font-family;
$card-color-default: $heading-color-1;
$card-text-font-size: map-get($font-sizes, '200');
$card-border-radius: $border-radius-1;
$card-inner-border: $border-width-2 solid $card-color-default;
$card-shadow: $box-shadow-1;
$card-padding-outer: 2rem;
$card-padding-inner: 4rem;
$card-width: 48rem;
$card-height: 20rem;

// // forms
// $form-label-color: $body-text-color;
// $form-label-font-family: $body-font-family;
// $form-label-font-weight: $font-weight-bold;
// $form-label-font-size: $body-font-size;

// $form-input-color: $body-text-color;
// $form-input-font-family: $body-font-family;
// $form-input-font-weight: $font-weight-semi-bold;
// $form-input-font-size: $body-font-size;
// $form-input-background-color: $color-neutral-100;
// $form-input-border-default: 3px solid $color-primary-200;
// $form-input-border-focus: 3px solid $color-primary-400;
// $form-input-padding: $size-3;
// $form-input-border-radius: $border-radius-1;

// $form-placeholder-color: $color-primary-300;
// $form-placeholder-font-family: $form-input-font-family;
// $form-placeholder-font-weight: $form-input-font-weight;
// $form-placeholder-font-size: $body-font-size;

// $form-group-spacing: 0.5rem;