@use '../abstracts/variables' as *;

.card {
    background-color: $card-background-default;
    border-radius: $card-border-radius;
    box-shadow: $card-shadow;
    padding: $card-padding-outer;
}

.card__inner-border {
    background-color: transparent;
    border-radius: $card-border-radius;
    border: $card-inner-border;
    padding: $card-padding-inner;
}