@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.image-with-text-module {
    @include flex-box(0);

    & > * {
        flex: 1 1 0;
    }

    .text-module {
        @include flex-box($text-module-gap-1, column);
    }
}

.image-with-text-module_vertical {
    @include flex-box($text-module-gap-2, column);
}

.text-module-wrapper {
    @include flex-box(5rem, column);
}

.text-module__desc {
    @include flex-box(1.2rem, column, flex-start, start);
}

.text-module__accent {
    font-size: $text-module-accent-font-size;
    color: $text-module-accent-color;
}
