@use "../abstracts/variables" as *;

.nav {
    list-style: none;
    font-family: $navigation-font-family;
    font-size: $navigation-font-size;
    font-weight: $navigation-font-weight;
    text-transform: $navigation-text-transform;
    display: flex;
    flex-direction: column;
    gap: $navigation-gap;
    
    .nav__item {
        color: $navigation-color;
        text-decoration: $navigation-link-text-decoration;
        border-bottom: $navigation-border;
        padding: $navigation-padding;

        &:is(:hover, :focus) {
            border-bottom-color: $navigation-border-color-hover;
        }
    }
}