@use '../../styles/abstracts/mixins' as *;

.menu {
	list-style-type: none;
	display: flex;
	gap: 24px;

	@include breakpoint('md', max) {
		font-size: 24px;
		background-color: var(--color-background);
		flex-direction: column;
		align-items: center;
		gap: 32px;
		height: 100dvh;
		padding-top: 160px;
	}
}

.link {
	padding-block: 2px;
	transition: transform var(--transition-duration);
	cursor: pointer;

	.slash {
		opacity: 0;
		transition: opacity var(--transition-duration);
	}

	a {
		transition: color var(--transition-duration);

		&.active {
			color: var(--color-secondary);
		}
	}

	@include hover-focus {
		transform: translateY(-2px);

		.slash {
			opacity: 1;
		}

		a {
			color: var(--color-secondary);
		}
	}
}
