@use '../../styles/abstracts/mixins' as *;
@use '../../styles/abstracts/colors' as *;

.menu {
	list-style-type: none;
	display: flex;
	gap: 24px;

	@include breakpoint('md', max) {
		font-size: 24px;
		background-color: $primary-400;
		flex-direction: column;
		align-items: center;
		gap: 32px;
		height: 100dvh;
		padding-top: 160px;
	}
}

.link {
	a {
		text-decoration: none;
		color: $white;
	}

	@include hover-focus {
		a {
			color: $secondary-200;
		}
	}
}
