@use '../../styles/abstracts/mixins' as *;
@use '../../styles/abstracts/colors' as *;
@use '../../styles/abstracts/typography' as *;

.section {
	max-width: 1040px;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 104px;
	padding-block: 48px;
	margin-block: 240px;
	margin-inline: auto;
	scroll-margin-top: 78px;

	@include breakpoint('md', max) {
		max-width: 720px;
	}

	@include breakpoint('sm', max) {
		max-width: 343px;

		gap: 64px;
		padding-block: 24px;
		margin-block: 200px;
	}
}

.title {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.subheading {
	font-size: 20px;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	color: $teal-lighter;

	@include breakpoint('sm', max) {
		font-size: 16px;
	}
}

.heading {
	@include font-designer;
	font-size: 48px;
	line-height: 100%;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;

	@include breakpoint('md', max) {
		font-size: 32px;
	}

	@include breakpoint('sm', max) {
		font-size: 24px;
	}
}
