@use '../../styles/abstracts/mixins' as *;

.footer {
	font-size: 14px;
	padding-inline: 48px;
	display: flex;
	justify-content: center;

	@include breakpoint('sm', max) {
		padding-inline: 16px;
	}
}

.themes {
	position: fixed;
	left: 48px;
	bottom: 24px;
	display: flex;
	gap: 16px;
	transform: rotate(-90deg);
	transform-origin: left bottom;

	@include breakpoint('md', max) {
		position: absolute;
		right: 48px;
		justify-content: center;
		transform: rotate(0deg);
	}
}

.theme {
	display: flex;
	align-items: center;
	gap: 4px;

	input {
		appearance: none;
		width: 8px;
		height: 8px;
		border: 1px solid var(--color-primary);
		cursor: pointer;

		&:checked {
			background-color: var(--color-primary);
		}
	}

	label {
		cursor: pointer;
	}
}

.copyright {
	color: var(--color-primary-light);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	border-top: 1px solid;
	padding: 24px 280px;
	margin-inline: auto;

	@include breakpoint('md', max) {
		padding-inline: 160px;
	}

	@include breakpoint('sm', max) {
		padding-inline: 24px;
	}
}
