@use '../../styles/abstracts/mixins' as *;
@use '../../styles/abstracts/colors' as *;

.socials {
	display: flex;
	flex-direction: column;
	gap: 24px;

	@include breakpoint('sm', max) {
		flex-direction: row;
	}
}

.icon {
	font-size: 32px;
	color: $teal-lighter;

	@include hover-focus {
		color: $white;
	}
}
