@use '../../styles/abstracts/mixins' as *;
@use '../../styles/abstracts/colors' as *;

.socials {
	display: flex;
	gap: 24px;
}

.icon {
	font-size: 24px;
	color: var(--color-primary);

	@include hover-focus {
		color: var(--color-secondary);
	}
}
