@use '../../styles/abstracts/mixins' as *;

.socials {
	display: flex;
	gap: 24px;
}

.icon {
	font-size: 24px;
	color: var(--color-primary);
	transition: color var(--transition-duration),
		scale var(--transition-duration), rotate var(--transition-duration);

	@include hover-focus {
		color: var(--color-secondary);
		scale: 1.1;
		rotate: 12deg;
	}
}
