@use '../../styles/abstracts/mixins' as *;

.skills {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding-block: 48px;
	position: relative;
	overflow: hidden;

	@include breakpoint("sm", max) {
		gap: 16px;
	}
}

.group {
	display: flex;
	gap: 20px;

	@include breakpoint("sm", max) {
		gap: 8px;
	}
}