@use '../../styles/abstracts/mixins' as *;

.skills {
	flex-direction: column;
	gap: 20px;

	@include breakpoint('sm', max) {
		gap: 16px;
	}
}

.group {
	display: flex;
	gap: 20px;

	@include breakpoint('sm', max) {
		gap: 8px;
	}
}
