@use './styles/abstracts/mixins' as *;

.main {
	padding-inline: 48px;
	overflow: hidden;

	@include breakpoint('sm', max) {
		padding-inline: 16px;
	}
}

.section {
	width: fit-content;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-block: 48px;
	margin-block: 300px;
	margin-inline: auto;
	scroll-margin-top: 78px;

	@include breakpoint("md", max) {
		margin-block: 240px;
	}

	@include breakpoint("sm", max) {
		padding-block: 24px;
	}
}
