@use 'styles/base/reset';
@use 'styles/abstracts/typography' as *;
@use 'styles/abstracts/mixins' as *;
@use 'styles/themes/theme' as *;

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Montserrat+Alternates:wght@400;500;600;700;800;900&family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corinthia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
	font-family: $font-regular;
	font-optical-sizing: auto;
	font-size: 20px;

	color: var(--color-primary);
	background-color: var(--color-background);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	overflow-x: hidden;

	&[data-theme='developer'] {
		background-image: url('assets/bg-dev.png');
	}

	&[data-theme='cybersec'] {
		background-image: url('assets/bg-cyber.png');
	}

	&.overflow-y-hidden {
		overflow-y: hidden;
	}

	&::-webkit-scrollbar {
		width: 10px;
	}

	&::-webkit-scrollbar-thumb {
		background: var(--color-secondary);
		border-radius: 5px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: var(--color-primary);
	}

	@include breakpoint('md', max) {
		font-size: 16px;
	}
}

button {
	background-color: transparent;
	border: none;
	height: fit-content;
}
