@use '../../styles/abstracts/mixins' as *;

swiper-container {
	height: 80px;
	user-select: none;

	@include breakpoint('md', max) {
		height: 64px;
	}

	@include breakpoint('sm', max) {
		height: 32px;
	}
}

swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
