@use '../../styles/abstracts/colors' as *;
@use '../../styles/abstracts/mixins' as *;

.background {
	font-family: var(--font-secondary);
	font-size: 240px;
	line-height: 100%;
	font-weight: 900;
	position: absolute;
	top: -40px;
	z-index: -10;
	user-select: none;

	body[data-theme='designer'] & {
		font-size: 200px;
		color: $transparent-black;
		top: -28px;
	}

	body[data-theme='developer'] &,
	body[data-theme='cybersec'] & {
		color: black;
		mix-blend-mode: screen;
		letter-spacing: 8px;
		text-shadow: -1px -1px 0 var(--color-primary-transparent),
			1px -1px 0 var(--color-primary-transparent),
			-1px 1px 0 var(--color-primary-transparent),
			1px 1px 0 var(--color-primary-transparent);
	}

	@include breakpoint('md', max) {
		top: -16px;

		body[data-theme] & {
			font-size: 160px;
		}
	}

	@include breakpoint('sm', max) {
		top: 0;

		body[data-theme] & {
			font-size: 80px;
		}
	}
}
